*.opensdf
*.sdf
*.suo
*.user
*.filters
*.obj
*.exe
ipch/*
*/Debug/*
*/Release/*
Debug/*
Release/*
.vs/*
build/*
.vscode/*
**/CMakeCache.txt
**/CMakeFiles/
**/CMakeScripts/
**/cmake_install.cmake
**/Makefile
.idea/
cmake-build-*/
**/CTestTestfile.cmake
**/Testing/
*.o
*.a
/delete_cache.cmake
/Lab1CPP/Lab1CPP
/Lab1CPP/output.txt
